@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;500;600;700;800;900&display=swap");

:root {
  --main-color: #273fa1;
  --text-color: #000;
  --bg-color: #fff;
  --container-color: #1e1e2a;
}

.cart-container {
  margin-top: 3rem !important;
}

.back-homepage {
  display: flex;
  align-items: center;
}

.back-homepage .bx {
  font-size: 24px;
  color: var(--text-color);
}

.back-homepage span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.cart-s-title {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.cart-box {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1rem;
}

.cartItems {
  display: grid;
  row-gap: 1rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 0.5fr;
  align-items: center;
  border-bottom: 1px solid #f2f0f1;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.cart-item-title {
  font-size: 1.3rem;
}

.cart-item-quantity {
  border: 1px solid var(--text-color);
  outline-color: var(--main-color);
  width: 2.8rem;
  text-align: center;
  border-radius: 4px;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.cart-item-price {
  font-size: 1.3rem;
}

.remove-from-cart {
  max-width: 80px;
  font-weight: 700;
  border: none;
  outline: none;
  background: red;
  color: var(--bg-color);
  padding: 8px;
}

.cart-t {
  display: flex;
  flex-direction: column;
}

#cartTotal {
  font-size: 2rem;
  font-weight: 600;
}

.checkout-btn {
  margin-top: 2rem;
  background: var(--main-color);
  color: var(--bg-color);
  text-align: center;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 150px;
}
